# Miscellaneous & OS
*.class
*.log
*.pyc
*.swp
*.zip
.DS_Store
Thumbs.db
.atom/
.build/
.buildlog/
.history
.svn/
.swiftpm/

# Local Databases & Temp Files
*.db
*.sqlite
*.sqlite3
backend/pos_database.db
backend/companies_data.json
backend/sales_data.json

# IntelliJ / IDE / VS Code
*.iml
*.ipr
*.iws
.idea/
.vscode/

# Flutter / Dart / Pub build artifacts
**/doc/api/
**/ios/Flutter/.last_build_id
.dart_tool/
**/.dart_tool/
.flutter-plugins-dependencies
**/.flutter-plugins-dependencies
.pub-cache/
.pub/
build/
**/build/
coverage/

# Android Studio & Gradle
/android/app/debug
/android/app/profile
/android/app/release
**/android/.gradle/
**/android/captures/

# Symbols & Maps
app.*.symbols
app.*.map.json
